body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(70, 67, 67);
    color: deeppink;
    margin: 0;
}

#potions{
    margin: top 30px;
}

img {
    cursor:pointer;
    transition:transform 0,2s ;
}

img:hover{
    transform:scale(1.1);
}